# ============================================================
# MAGENTO
# ============================================================
MAGENTO_VERSION=2.4.8-p5
MAGENTO_BASE_URL=http://localhost:8080/
MAGENTO_ADMIN_FRONTNAME=admin
MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=User
MAGENTO_ADMIN_EMAIL=admin@example.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=ChangeMe123!ChangeMe
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=UTC

# ============================================================
# DATABASE
# ============================================================
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root_me
DB_HOST=db
DB_PORT=3306

# ============================================================
# VALKEY / REDIS
# ============================================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_SESSION_DB=1

# ============================================================
# OPENSEARCH
# ============================================================
OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200

# ============================================================
# HOST PORTS
# ============================================================
NGINX_PORT=8081
VARNISH_PORT=8080
OPENSEARCH_HTTP_PORT=9200

# ============================================================
# COMPOSER AUTH
#
# Get Magento Marketplace public/private keys from:
# https://commercemarketplace.adobe.com/customer/accessKeys/
#
# IMPORTANT:
# Never commit real keys to Git.
# ============================================================
COMPOSER_AUTH_PUBLIC_KEY=2f82608be7832b33b194fc45a111164a
COMPOSER_AUTH_PRIVATE_KEY=32955d7a6b0a5a13045fa3eb95f3a784
