# ==========================================================
# MAGENTO
# ==========================================================

MAGENTO_VERSION=2.4.8-p5

MAGENTO_BASE_URL=http://localhost:8080/

MAGENTO_ADMIN_FIRSTNAME=Admin
MAGENTO_ADMIN_LASTNAME=Magento

MAGENTO_ADMIN_EMAIL=admin@example.com

MAGENTO_ADMIN_USER=admin

MAGENTO_ADMIN_PASSWORD=CHANGE_ME_TO_A_STRONG_PASSWORD

MAGENTO_ADMIN_URI=admin

MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=Asia/Kolkata


# ==========================================================
# DATABASE
# ==========================================================

MYSQL_HOST=db
MYSQL_PORT=3306

MYSQL_DATABASE=magento
MYSQL_USER=magento

MYSQL_PASSWORD=CHANGE_ME

MYSQL_ROOT_PASSWORD=CHANGE_ME


# ==========================================================
# VALKEY
# ==========================================================

VALKEY_HOST=valkey
VALKEY_PORT=6379


# ==========================================================
# OPENSEARCH
# ==========================================================

OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200

OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m


# ==========================================================
# HOST PORTS
# ==========================================================

NGINX_PORT=8080

MYSQL_HOST_PORT=3306

VALKEY_HOST_PORT=6379

OPENSEARCH_HOST_PORT=9200


# ==========================================================
# ADOBE COMPOSER AUTH
# ==========================================================

COMPOSER_AUTH={"http-basic":{"repo.magento.com":{"username":"YOUR_PUBLIC_KEY","password":"YOUR_PRIVATE_KEY"}}}
